package ${packageName};

import org.slf4j.LoggerFactory;


public class ${inputClassName} {

    org.slf4j.Logger logger = LoggerFactory.getLogger(${inputClassName}.class);

    public void ${inputClassName}()
    {

    }
}

